<div>
    <div class="row">
      <div class="small-3 columns">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Machu_Picchu_Llama_2.jpg"/>
      </div>
      <div class="small-9 columns">
          <div class="row">
            <form>
              <div class="row">
                  <h1>Signup for Paradise!</h1>
              </div>
              <div class="row">
                <label>Email
                  <input type="email" ng-model="email">
                </label>
              </div>
              <div class="row">
                <label>Password
                  <input type="password" ng-model="password">
                </label>
              </div>
              <div class="row">
                <button type="button" class="success button">Sign up</button>
              </div>
            </form>   
          </div>
          <div class="row">
            <h2>Signup with Social Media</h2>
          </div>
      </div>
    </div>  
</div>
